:root {
    
    --primary-color-Purple-50: hsl(260, 100%, 95%);
    --primary-color-Purple-300: hsl(264, 82%, 80%);
    --primary-color-Purple-500: hsl(263, 55%, 52%);
    
    --neutral-color-white: hsl(0, 0%, 100%);
    --neutral-color-grey-100: hsl(214, 17%, 92%);
    --neutral-color-grey-200: hsl(0, 0%, 81%);
    --neutral-color-grey-400: hsl(224, 10%, 45%);
    --neutral-color-grey-500: hsl(217, 19%, 35%);
    --neutral-color-dark-blue: hsl(219, 29%, 14%);
    --neutral-color-black: hsl(0, 0%, 7%);
        
    --font-size: 0.8rem;
    --font-family: "Barlow Semi Condensed", sans-serif;
    
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--neutral-color-grey-100);
    background-color: var(--neutral-color-grey-100);
}

.visually-hidden {
  .visually-hidden {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  padding: 0;
  margin: -0.0625rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
}

img {
    display: block;
    max-width: 100%;
    border-radius: 50%;
}
span {
    display: block;
}

main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: clamp(2rem, 5vw, 4rem) 2rem;
}


.card {
    border-radius: 10px;
    overflow: hidden;
    padding: clamp(1.5rem, 3vw, 2rem);
    box-shadow: 50px 50px 30px color-mix(in srgb, var(--neutral-color-dark-blue) 20%,transparent);
    max-width: 28.125rem;
    margin: 0 auto;
    
}
.verified {
    font-size: 0.75rem;
    color: var(--neutral-color-grey-200);
}

.header {
    display: flex;
    gap: 1.5rem;
}

.daniel {
    background-color: var(--primary-color-Purple-500);
}

.jonathan {
    background-color: var(--neutral-color-grey-500);
}

.daniel img {
    border: solid var(--primary-color-Purple-300) 2px;
}

.jeanette {
    background-color: var(--neutral-color-white);
    color: var(--neutral-color-grey-500);
}

.jeanette .verified {
    color: var(--neutral-color-grey-400);
}

.patrick {
    background-color: var(--neutral-color-black);
}
.patrick img {
    border: solid var(--primary-color-Purple-500) 2px;
}

.kira {
    background-color: var(--neutral-color-white);
    color: var(--neutral-color-grey-500);
}

p span {
    font-size: 1.5rem;
    padding: 1rem 0;
    font-weight: 600;
}

.header div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.header img {
    height: 3rem;
}

.name {
    font-size: 1rem;
}

@media (min-width:62.5rem) {
    main {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto auto;
        gap: 1.5rem;
    }

    .card {
        margin: 0;
        max-width: 100%;
    }
    .daniel {
        grid-column: 1/3;
        background-image: url(./images/bg-pattern-quotation.svg);
        background-repeat: no-repeat;
        background-position: top right 50px;
        background-size: 22%;
    }
    .jonathan {
        grid-column: 3;
    }
    
    .kira {
        grid-column: 4;
        grid-row: 1/-1;
    }

    .jeanette {
        grid-column: 1;
        grid-row: 2;
    }

    .patrick {
        grid-column: 2/4;
        grid-row: 2;
    }

}